.share-dialog{
  border:1px solid #eee;
  border-radius:4px;
  background: #fff;
  position: absolute;
  bottom: 25px;
  left: -30px;
  z-index: 9999;
}
.sd-list{padding: 4px 0;}
.sd-list-item{
  text-align: center;
  padding: 8px 20px 8px 12px;
  color: #666;
}
.sd-list-item:hover{ background: #eee;}
/* show style */
.show-share-dialog{
  display: block;
  opacity: 1;
  height:auto;
}