
.pointer { cursor: pointer;}
/* flex start */
.flex { display: flex;justify-content: center;align-items: center;}
.justify-start { justify-content: flex-start;}
.justify-between { justify-content: space-between;}
.justify-around { justify-content: space-around;}
.align-start{ align-items: flex-start;}
.align-end{ align-items: flex-end;}
/* flex end */
.box-border{ box-sizing: border-box;}
.box-content{ box-sizing: content-box;}
.clear:before, .clear:after{ content: "";display: table;}
.clear:after{ clear: both;}
.clear { *zoom:1;} /* 保持ie6,7的一致性 */

/* 定位元素 */
.relative{ position: relative;}
.absolute{ position: absolute;}
.sticky {position: sticky;left: 0;top: 0;}
.fixed { position: fixed;}
/* padding */
.sp24{padding: 24px;}

/* font style */
.fontItalic { font-style: italic;} /* 字体倾斜 */



/* border 生成 下三角 */
.borderHornB::before{
  display: block;
  content:"";
  width:8px;
  height:8px;
  position: absolute;
  left: 50%;
  top:-3px;
  margin:auto;
  background: rgba(0,0,0,0);
  border-style: solid;
  border-width:4px;
  border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) #fff;
  box-shadow: -3px -3px 7px rgba(0,0,0,.07);
  transform: translateX(-50%) rotate(45deg);
  z-index: 98;
}
.borderHornA::after{
  display: block;
  content:"";
  width:8px;
  height:8px;
  position: absolute;
  left: 50%;
  bottom:-3px;
  margin:auto;
  background: rgba(0,0,0,0);
  border-style: solid;
  border-width:4px;
  border-color: rgba(0,0,0,0) #fff #fff rgba(0,0,0,0);
  box-shadow: 3px 3px 7px rgba(0,0,0,.07);
  transform: translateX(-50%) rotate(45deg);
  z-index: 98;
}
